<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PETLIFE</title>
</head>
<body>
    <header>
    <div class="wrapper">
        <div class="logo">
            <img class="logo" src="/assets/img/logo-petlife.png" width="100px"/>
        </div>
       <nav>
        <a href="#">Zona</a>
        <a href="#">Horario</a>
        <a href="#">Mascota</a>
        <a href="#">Tamaño</a>
        
       </nav> 
    </div>
    </header>
</body>
</html>

