body {
  background: var(--bg-color-light);
}

header {
  overflow: hidden;
  margin-bottom: 20px;

}

header .logo {
  width: vw;
  font-size: 50px;
  line-height: 60px;
  float: left;

}

header nav {
  float: right;
  line-height: 100px;

}

header nav a {
  display: inline-block;
  color: rgb(13, 12, 12);
  text-decoration: none;
  padding: 10px 20px;
  line-height: normal;
  font-size: 20px;
  font-weight: bold;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  font-family: monospace;

}

header nav a:hover {
  background-color: var(--btn-hover);
  border-radius: 50px;
}

h1 {
  font-family: 'Irish Grover', cursive;
  text-align: center;
  color: black;
}



div.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

div.menu {
  display: flex;


}
