<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap" rel="stylesheet">
    <title>PETLIFE</title>
</head>
<body>
    <header>
    <div class="container">
       <a class="img-fluid col-md-3" href="/"> <img  src="/assets/img/logo-petlife.png" style="max-width: 100px"/></a> 
             <h1 class="col-md-4 col-xs-6">¿Paseamos?</h1>
            
        <nav class="col-md-5 ps-5 col-xs-4">
        <a href="#">Zona</a>
        <a href="#">Horario</a>
        <a href="#">Mascota</a>
        <a href="#">Tamaño</a>
        </nav> 
  
</div>
    </header>
</body>
</html>

