<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{pet.img}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{pet.name}}</h5>
    <p class="card-text">{{pet.owner}}</p>
    <a href="#" class="btn btn-color">Conóceme</a>
  </div>
</div>

<!--
<div>

  <figure>
    <img src="{{pet.img}}" alt="foto de un {{pet.type}}">
    <figcaption>{{pet.name}}</figcaption>
  </figure>


  <div class="content">
    <p><span>Place:</span><span> {{pet.location}}</span></p>
    <p><span>Time:</span><span> {{pet.schedule}}</span></p>
    <p><span>Size:</span><span> {{pet.size}}</span></p>
    <p><span>Owner:</span><span> {{pet.owner}}</span></p>
  </div>
  <button>Contact</button>
</div> -->
