div {
  width: calc(15vw + 15vh);
  max-width: 600px;
  min-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  border-radius: calc(1vw + 1vh);
  background-color: white;
}
.card-img-top{
  object-fit: cover;
  max-height: 265px;
}
.btn{
  font-family: monospace;
  font-weight: 600;
}
.btn-color{
  background-color: var(--btn-bg-color);
  color: var(--btn-color);
}
.btn-color{
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;

}
.btn-color:hover {
  background-color: var(--btn-hover);
  border: none;
  border-radius: 50px;
}
