<div class="container">
<div class="card mb-3" style="max-width: 840px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{pet.img}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body ms-4">
          <h5 class="card-title">Mascota : {{pet.name}} - {{pet.age}} años</h5>
          <p class="card-text">{{pet.description}}</p>
          <p class="card-text">Tipo : {{pet.type}} - {{pet.size}}</p>
          <p class="card-text">Horario : {{pet.schedule}}</p>
          <p class="card-text">Localización : {{pet.location}}</p>
          <p class="card-text">{{pet.owner}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

