<div class="container">
  <div class="card mb-3" style="max-width: 840px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{pet.img}}" class="img-fluid rounded-start ms-4 mt-5" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body ms-5">
          <h5 class="card-title">Mascota : {{pet.name}} - {{pet.age}} años</h5>
          <p class="card-text">{{pet.description}}</p>
          <p class="card-text">Tipo : {{pet.type}} - {{pet.size}}</p>
          <p class="card-text">Horario : {{pet.schedule}}</p>
          <p class="card-text">Localización : {{pet.location}}</p>
          <p class="card-text">{{pet.owner}}</p>
          <a (click)="contactMe()" class="btn btn-primarycolor">Contactar</a>
          <a href="/" class="btn btn-primarycolor ms-5">Volver</a>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="contact===true">
  <div class="container">
    <div class="card mb-3" style="max-width: 840px;">
      <form>
        <h1>Contacta con {{pet.name}}</h1>
        <div class="form-group col-md-4 mt-2">
          <label for="inputName">Nombre</label>
          <input type="text" class="form-control" id="inputName" aria-describedby="emailHelp"
            placeholder="Introduce tu nombre">
          <small id="emailHelp" class="form-text text-muted"></small>
        </div>
        <div class="form-group col-md-4 mt-3">
          <label for="inputEmail">Email</label>
          <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp"
            placeholder="Introduce tu e-mail">
          <small id="emailHelp" class="form-text text-muted"></small>
        </div>
        <div class="form-group col-md-4 mt-3">
          <label for="inputTelephon">Teléfono</label>
          <input type="phone" class="form-control" id="inputTelephon" aria-describedby="emailHelp"
            placeholder="Introduce tu teléfono">
          <small id="emailHelp" class="form-text text-muted"></small>
        </div>

        <div class="form-group mt-3">
          <label for="textarea">Mensaje</label>
          <textarea class="form-control" id="textarea" rows="3" placeholder="Escribe tu mensaje"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Enviar</button>
      </form>
    </div>
  </div>
</div>